input {
  keyboard {
    xkb {
      layout "us"
    }
  }

  touchpad {
    // Tap to click
    tap

    // Scrolling move the view type shit, i forgor gng
    natural-scroll

    // self explanatory
    accel-speed 0.2
    accel-profile "adaptive"

  }
}

binds {
  Mod+E { spawn "AyuGram"; }
  Mod+T { spawn "wezterm"; }
  Mod+D { spawn "firefox"; }

  Mod+F { spawn "fuzzel"; }
  Mod+Shift+L { spawn "swaylock"; }
  
  // Switch Workspace
  Alt+H { focus-column-left; }
  Alt+J { focus-workspace-down; }
  Alt+K { focus-workspace-up; }
  Alt+L { focus-column-right; }

  Mod+Shift+F { toggle-windowed-fullscreen; }

  Mod+Q { close-window; }
}
